
<%
@dl = [{"title" => "Strategy Innovation", "p" => "effectively engage thousands in shaping and driving 
the next Big Idea!", "img" => "/images/home/dl_strategy_innov.png"},
      {"title" => "Talent Innovation", "p" => "our experts have guided culture and talent 
			design innovation for many in the fortune 500", "img" => "/images/home/dl_talent_innov.png"},
      {"title" => "Social Entrepreneurship", "p" => "learn from the top 10 leaders in matching growth 
			with doing good.", "img" => "/images/home/dl_social_entrep.png"},
      {"title" => "IT Innovation", "p" => "our experts help identify millions in new 
			revenue and potential cost savings", "img" => "/images/home/dl_it_innov.png"},
      {"title" => "Service Innovation", "p" => "engage in high impact ideation exercises to 
			re-invent key touchpoints!", "img" => "/images/home/dl_service_innov.png"}].freeze
%>

<% content_for :head do %>
<style type="text/css">
<% css_content do %>
<% @dl.each_with_index do|window,i| %>
#dl_window_frame_<%= i %> {
  background:transparent url(<%= window["img"]%>) no-repeat
}
.ie6 #dl_window_frame_<%= i %> {
  background:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= window["img"]%>',sizingMethod='crop');
}
<% end %>

#strategy a.icon {
  background:transparent url(/images/home/thumbnail_sprite_strategy.png) 0px 0px no-repeat;
}
.ie6 #strategy a.icon {
	background:transparent url(/images/home/thumbnail_sprite_strategy.jpg) 0px 0px no-repeat;
}
#strategy a.icon:hover {
  background-position: 0px -210px;
}
#consulting a.icon {
  background:transparent url(/images/home/thumbnail_sprite_seminars.png) 0px 0px no-repeat;
}
.ie6 #consulting a.icon {
  background:transparent url(/images/home/thumbnail_sprite_seminars.jpg) 0px 0px no-repeat;
}

#sections .sections:hover,
#consulting a.icon:hover {
  background-position: 0px -210px;
}
#anerian a.icon {
  background:transparent url(/images/home/thumbnail_sprite_anerian.png) 0px 0px no-repeat;
}
.ie6 #anerian a.icon {
  background:transparent url(/images/home/thumbnail_sprite_anerian.jpg) 0px 0px no-repeat;
}

#sections .sections:hover,
#anerian a.icon:hover {
  background-position: 0px -209px;
}
#insights a.icon {
  background:transparent url(/images/home/thumbnail_sprite_insights.png) 0px 0px no-repeat;
}
.ie6 #insights a.icon {
  background:transparent url(/images/home/thumbnail_sprite_insights.jpg) 0px 0px no-repeat;
}

#sections .sections:hover,
#insights a.icon:hover {
  background-position: 0px -209px;
}
<% end %>
</style>
<% end %>
<div id="slide-window">
	<div id="slide-container">
		<% @dl.each_with_index do |window,i| %>
		<div class="window">
			<div class="dl-left">
				<div class="dl-text-top">
					<h2><%= window["title"] %></h2>
				</div>
				<div class="dl-text-bottom">
					<p><%= window["p"] %></p>
				</div>
			</div>
			<div class="dl-right">
				<div class="img" id="dl_window_frame_<%= i %>"></div>
			</div>
		</div>
		<% end %>
	</div>
</div>
<div id="slide-tabs">
	<% @dl.length.times do |i| %>
	<a <% if(i==0) %>class="selected" <% end %>href="<%= i %>"></a>
	<% end %>
</div>
<div class="clear"></div>

<div id="sections">
  <div id="strategy" class="section">
    <h2><a href="/consulting">Consulting</a></h2>
    <cite>Leveraging assets and technologies</cite>
    <a class="icon" href="/consulting">Strategy Consulting and Business Solutions</a>
  </div>
  <div id="consulting" class="section">
    <h2><a href="http://seminars.anerian.com/">Innovating</a></h2>
    <cite>Helping to grow your business</cite>
    <a class="icon" href="http://seminars.anerian.com/">Management consulting services</a>
  </div>
  <div id="anerian" class="section">
    <h2><a href="/anerian-way">Anerian Way</a></h2>
    <cite>We understand how to drive change</cite>
    <a class="icon" href="/anerian-way">Driving change</a>
  </div>
  <div id="insights" class="section">
    <h2><a href="/blog">Insights</a></h2>
    <cite>Keep up on Anerian</cite>
    <a class="icon" href="/blog">Anerian Way</a>
  </div>
  <div class="clear"></div>
</div>
<% content_for :foot do %>
	<script src="/scripts/jquery-1.3.2.min.js"></script>
	<script src="/scripts/jquery.easing.1.3.js"></script>
	<script src="/scripts/slideMenu.js"></script>
<% end %>
